#box{
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20000;
  }
  #img1{
  position: absolute;
  opacity: 0.6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
  #img2{
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0,0.2rem,0.2rem,0);
  width: 100%;
  height: 100%;
  }
  #main{
  position: absolute;
  border: 1px dashed  #fff;
  height: 4rem;
  width: 4rem;
  cursor: move;
  }
  .div{
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  background: #fff;
  }
  .minDiv{
  left: 50%;
  margin-left: -0.04rem;
  top: -0.04rem;
  cursor: n-resize;
  }
  .minDiv2{
  top: -0.04rem;
  left: -0.04rem;
  cursor: nw-resize;
  }
  .minDiv3{
  top: -0.04rem;
  right: -0.04rem;
  cursor: ne-resize;
  }
  .minDiv4{
  top: 50%;
  left: -0.04rem;
  margin-top: -0.04rem;
  cursor: w-resize;
  }
  .minDiv5{
  top: 50%;
  margin-top: -0.04rem;
  right: -0.04rem;
  cursor: e-resize;
  }
  .minDiv6{
  bottom: -0.04rem;
  left: -0.04rem;
  cursor: ne-resize;
  }
  .minDiv7{
  bottom: 0;
  left: 50%;
  margin-bottom: -0.04rem;
  margin-left: -0.04rem;
  cursor: s-resize;
  }
  .minDiv8{
  bottom: 0;
  margin-bottom: -0.04rem;
  right: -0.04rem;
  cursor: se-resize;
  }
  #preview{
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: 1rem;
    left: 28rem;
    overflow: hidden;
    z-index: 20000;
  }
  #img3{
  position: absolute;
  }
  #canvas{
  height: 100%;
  width: 100%;
  background: #fff;
  border: 1px solid #aaa;
  }
