<p>
  <button class="my-button" (click)="onClickText()">文本</button>
  <button class="my-button" (click)="onClickBackgroundText()">背景文本</button>
  <button class="my-button" (click)="onClickImg()">图片</button>
  <button class="my-button" (click)="onClickButton()">按钮</button>
  <button class="my-button" (click)="onClickImgGroup()">图片组</button>
  <button class="my-button" (click)="onClickImgText()">图文</button>
  <button class="my-button" (click)="onClickBackgroundImgText()">背景图文</button>
  <button class="my-button" (click)="onClickLine()">分割线</button>
  <button class="my-button" (click)="onClickhead()">顶部</button>
  <button class="my-button" (click)="onClickfoot()">底部</button>

</p>
