<div style="width: 100%;padding: 5px;">
  <div [ngStyle]="{'display': editingAreaItemService.type === 'txt' || editingAreaItemService.type === 'button'  ? 'block': 'none'}">
    <h4 style="text-align: center;
    color: #888;
    font-size: 20px;
    margin: 0 0 20px 0;
    font-weight: 400;">文本样式</h4>
    <div *ngIf="isShowTypefaces" class='currency'>字体：
      <!-- <select id="typefacesStyle" [ngStyle]='typefacesStyle' (change)="setTypeface($event.target.value)">
        <option *ngFor="let item of typefaces" [value]="item.code">{{item.name}}</option>
      </select> -->
      <nz-select style="width: 120px;" id="typefacesStyle" [ngStyle]='typefacesStyle' [(ngModel)]="typefacesValue"   (ngModelChange)="setTypeface($event)" nzPlaceHolder="请选择">
        <nz-option *ngFor="let item of typefaces" style="padding: 0;"  [nzValue]="item.code" [nzLabel]="item.name">
        </nz-option>
      </nz-select>
    </div>
    <div *ngIf="isFontColor" class='currency'>颜色：
      <!-- <select id="fontColorStyle" [ngStyle]='fontColorStyle' (change)="setfontColor($event.target.value)">
        <option *ngFor="let item of fontColor" [ngStyle]="{'background': item}" [value]="item"></option>
      </select> -->
      <nz-select style="width: 120px;" id="fontColorStyle" [ngStyle]='fontColorStyle' [(ngModel)]="fontBackgroundColor"  (ngModelChange)="setfontColor($event)" nzPlaceHolder="请选择">
        <nz-option *ngFor="let item of fontColor" style="padding: 0;" nzCustomContent  [nzValue]="item" [nzLabel]="item">
          <span [ngStyle]="{'background': item, 'display': 'inline-block', 'width': '100%'}">{{item}}</span>
        </nz-option>
      </nz-select>
      <span
        [ngStyle]="{'display': 'inline-block', 'height': '30px', 'width': '30px','border-radius': '5px', 'margin-left': '7px', 'background': fontBackgroundColor,'border': '1px solid #ccc'}"></span>
    </div>
    <div [ngStyle]="{'display': isFontSize? 'block': 'none', 'margin': '10px 0'}">
      <div class="User_ratings User_grade">
        <div class="ratings_bars" style="display: flex;align-items: center;">
          字号：
          <div class="scale" [ngStyle]="fontSizeStyle" id="font-size-bar">
            <div></div>
            <span id="font-size-btn"></span>
          </div>
          <span style="margin-left: 5px; font-size: 13px;">{{fontSize}}</span>
        </div>
      </div>
    </div>
    <div [ngStyle]="{'display': isLineHeight ? 'block': 'none', 'margin': '10px 0'}">
      <div class="User_ratings User_grade">
        <div class="ratings_bars" style="display: flex;align-items: center;">
          行距：
          <div class="scale" [ngStyle]="fontSizeStyle" id="line-height-bar">
            <div></div>
            <span id="line-height-btn"></span>
          </div>
          <span style="margin-left: 5px; font-size: 13px;">{{lineHeight}}</span>
        </div>
      </div>
    </div>
    <div [ngStyle]="{'display': isLetterSpacing  ? 'block': 'none', 'margin': '10px 0'}">
      <div class="User_ratings User_grade">
        <div class="ratings_bars" style="display: flex;align-items: center;">
          间距：
          <div class="scale" [ngStyle]="letterSpacingStyle" id="letter-spacing-bar">
            <div></div>
            <span id="letter-spacing-btn"></span>
          </div>
          <span style="margin-left: 5px; font-size: 13px;">{{letterSpacing}}</span>
        </div>
      </div>
    </div>
    <div *ngIf="isTextStyle">样式：
      <!-- <span>
        <i class='fa fa-bold text-icon' (click)="changeTextStyle('font-weight')" title="加粗"></i>
        <i class='fa fa-italic text-icon' (click)="changeTextStyle('font-style')" title="斜体"></i>
      </span> -->
      <span style="">
        <i class='fa fa-align-left text-icon' (click)="changeTextStyle('left')" title="居左"></i>
        <i class='fa fa-align-center text-icon' (click)="changeTextStyle('center')" title="居中"></i>
        <i class='fa fa-align-right text-icon' (click)="changeTextStyle('right')" title="居右"></i>
        <i class='fa fa-align-justify text-icon' (click)="changeTextStyle('justify')" title="平铺"></i>
      </span>
    </div>
    <div *ngIf="isBackgroundColor" class='currency'>背景：
      <!-- <select [ngStyle]='backgroundColorStyle' (change)="setBackgroundColorStyle($event.target.value)">
        <option *ngFor="let item of backgroundColorList" [ngStyle]="{'background': item}" [value]="item"></option>
      </select> -->
      <nz-select style="width: 120px;" id="backgroundColorStyle" [ngStyle]='backgroundColorStyle' [(ngModel)]="backgroundColor"  (ngModelChange)="setBackgroundColorStyle($event)" nzPlaceHolder="请选择">
        <nz-option *ngFor="let item of backgroundColorList" style="padding: 0;" nzCustomContent  [nzValue]="item" [nzLabel]="item">
          <span [ngStyle]="{'background': item, 'display': 'inline-block', 'width': '100%'}">{{item}}</span>
        </nz-option>
      </nz-select>
      <span
        [ngStyle]="{'display': 'inline-block', 'height': '30px', 'width': '30px','border-radius': '5px', 'margin-left': '7px', 'background': backgroundColor,'border': '1px solid #ccc'}"></span>
    </div>
    <div *ngIf="isBorder">边框：
      <!-- <select id="borderStyle" [ngStyle]='borderStyle' (change)="setBorderStyle($event.target.value)">
        <option *ngFor="let item of borderStyleList" [value]="item.value">{{item.text}}</option>
      </select> -->
      <nz-select style="width: 120px;" id="borderStyle" [ngStyle]='borderStyle' [(ngModel)]="borderValue"  (ngModelChange)="setBorderStyle($event)" nzPlaceHolder="请选择">
        <nz-option *ngFor="let item of borderStyleList"  [nzValue]="item.value" [nzLabel]="item.text">
        </nz-option>
      </nz-select>
    </div>
    <div [ngStyle]="{'display': isBorder  ? 'block': 'none', 'margin': '10px 0 0 45px'}">
      <div class="User_ratings User_grade">
        <div class="ratings_bars" style="display: flex;align-items: center;">
          <div class="scale" [ngStyle]="borderLineStyle" id="border-line-bar">
            <div></div>
            <span id="border-line-btn"></span>
          </div>
          <span style="margin-left: 5px; font-size: 13px;">{{borderLine}}</span>
        </div>
      </div>
    </div>
    <div *ngIf="isBorder" class='currency'>
      <!-- <select [ngStyle]='borderColorStyle' (change)="setborderColorStyle($event.target.value)">
        <option *ngFor="let item of borderColorList" [ngStyle]="{'background': item}" [value]="item"></option>
      </select> -->
      <nz-select style="width: 120px;" [ngStyle]='borderColorStyle' [(ngModel)]="borderColor"  (ngModelChange)="setborderColorStyle($event)"  nzPlaceHolder="请选择">
        <nz-option *ngFor="let item of borderColorList" style="padding: 0;" nzCustomContent  [nzValue]="item" [nzLabel]="item">
          <span [ngStyle]="{'background': item, 'display': 'inline-block', 'width': '100%'}">{{item}}</span>
        </nz-option>
      </nz-select>
      <span
        [ngStyle]="{'display': 'inline-block', 'height': '30px', 'width': '30px','border-radius': '5px', 'margin-left': '7px', 'background': borderColor}"></span>
    </div>
    <div *ngIf="isImgTextBackgroundColor && editingAreaItemService.isGroup" class='currency'>图文：
      <nz-select style="width: 120px;" [ngStyle]='imgTextBackgroundColorStyle' [(ngModel)]="imgTextBackgroundColor"  (ngModelChange)="setImgTextBackgroundColorStyle($event)"  nzPlaceHolder="请选择">
        <nz-option *ngFor="let item of imgTextBackgroundColorList" style="padding: 0;" nzCustomContent  [nzValue]="item" [nzLabel]="item">
          <span [ngStyle]="{'background': item, 'display': 'inline-block', 'width': '100%'}">{{item}}</span>
        </nz-option>
      </nz-select>
      <span
        [ngStyle]="{'display': 'inline-block', 'height': '30px', 'width': '30px','border-radius': '5px', 'margin-left': '7px', 'background': imgTextBackgroundColor,'border': '1px solid #ccc'}"></span>
    </div>
  </div>
  <div [ngStyle]="{'display': editingAreaItemService.type === 'line'? 'block': 'none'}">
    <h4 style="text-align: center;
    color: #888;
    font-size: 20px;
    margin: 0 0 20px 0;
    font-weight: 400;">分割线</h4>
    <div *ngIf="isLineBorder">样式：
      <select id="partition" [ngStyle]='borderStyle' (change)="setLineBorderStyle($event.target.value)">
        <option *ngFor="let item of lineBorderStyleList" [value]="item.value">{{item.text}}</option>
      </select>
    </div>
    <div [ngStyle]="{'display': isLineBorder  ? 'block': 'none', 'margin': '10px 0'}">
      <div class="User_ratings User_grade">
        <div class="ratings_bars" style="display: flex;align-items: center;">
          粗细：
          <div class="scale" [ngStyle]="borderLineStyle" id="line-border-line-bar">
            <div></div>
            <span id="line-border-line-btn"></span>
          </div>
          <span style="margin-left: 5px; font-size: 13px;">{{lineBorderLine}}</span>
        </div>
      </div>
    </div>
    <div [ngStyle]="{'display': isLineBorder ? 'block': 'none', 'margin': '10px 0'}">
        <div class="User_ratings User_grade">
          <div class="ratings_bars" style="display: flex;align-items: center;">
            行距：
            <div class="scale" [ngStyle]="fontSizeStyle" id="line-margin-bar">
              <div></div>
              <span id="line-margin-btn"></span>
            </div>
            <span style="margin-left: 5px; font-size: 13px;">{{lineMargin}}</span>
          </div>
        </div>
      </div>
    <div *ngIf="isLineBorder" class='currency'>颜色：
      <!-- <select [ngStyle]='lineBorderColorStyle' (change)="setLineBorderColorStyle($event.target.value)">
        <option *ngFor="let item of borderColorList" [ngStyle]="{'background': item}" [value]="item"></option>
      </select> -->
      <nz-select style="width: 120px;" [ngStyle]='lineBorderColorStyle' [(ngModel)]="lineBorderColor"  (ngModelChange)="setLineBorderColorStyle($event)">
        <nz-option *ngFor="let item of borderColorList" style="padding: 0;" nzCustomContent  [nzValue]="item" [nzLabel]="item">
          <span [ngStyle]="{'background': item, 'display': 'inline-block', 'width': '100%'}">{{item}}</span>
        </nz-option>
      </nz-select>
      <span
        [ngStyle]="{'display': 'inline-block', 'height': '30px', 'width': '30px','border-radius': '5px', 'margin-left': '7px', 'background': lineBorderColor}"></span>
    </div>
  </div>
  <div [ngStyle]="{'display': editingAreaItemService.type === 'img'  ? 'block': 'none'}">
    <h4 style="text-align: center;
    color: #888;
    font-size: 20px;
    margin: 0 0 20px 0;
    font-weight: 400;">图片</h4>
    <div style="position: relative;border-bottom: 1px solid #111;width: 98%;display: flex;">
      <div>
        <img [ngStyle]="{'background-image':'url(' + editingAreaItemService.imgUrl + ')', 'width': '105px', 'height': '80px', 'background-repeat': 'no-repeat', 'background-size': '100% 100%'}" alt="">
      </div>
      <div>
        <a href="javascript:;" class="file">选择图片
            <input id="file" type="file" [disabled]='editingAreaItemService.isNoUploading' (change)="onChangePicture($event.target)">
          </a>

      </div>
    </div>
    <div>
      <p>建议尺寸：{{editingAreaItemService.imgSize}}，小于300k</p>
      <P>图片跳转：<input nz-input type="text" style="
        height: 25px;
        width: 180px;
        border-radius: 5px;
        padding: 0 5px;
        outline: none;" [(ngModel)]="editingAreaItemService.imgHref" placeholder="请以http://或者https://开头"
        (change)="onChangeUrl($event.target.value)"></P>
        <p *ngIf="editingAreaItemService.isReUrl" style="color: red;margin-left: 68px;">格式错误，请按照正确格式填写！</p>
    </div>
  </div>
  <div [ngStyle]="{'display': editingAreaItemService.type === 'code'  ? 'block': 'none'}">
    <h4 style="text-align: center;
    color: #888;
    font-size: 20px;
    margin: 0 0 20px 0;
    font-weight: 400;">二维码</h4>
    <div style="position: relative;border-bottom: 1px solid #111;width: 98%;display: flex;">
      <div>
        <img [ngStyle]="{'background-image':'url(' + editingAreaItemService.imgUrl + ')', 'width': '105px', 'height': '105px', 'background-repeat': 'no-repeat', 'background-size': 'cover'}" alt="">
      </div>
      <div>
        <a href="javascript:;" class="file">选择图片
          <input type="file" (change)="onChangePicture($event.target)">
        </a>
      </div>
    </div>
    <div>
      <p>建议尺寸：{{editingAreaItemService.imgSize}}</p>
    </div>
  </div>
  <!-- <div [ngStyle]="{'display': editingAreaItemService.type === 'box'  ? 'block': 'none'}">
    <h4 style="text-align: center;
    color: #888;
    font-size: 20px;
    margin: 0 0 20px 0;
    font-weight: 400;">图文</h4>
    <div *ngIf="isImgTextBackgroundColor" class='currency'>背景：
    <nz-select style="width: 120px;" [ngStyle]='imgTextBackgroundColorStyle' [(ngModel)]="imgTextBackgroundColor"  (ngModelChange)="setImgTextBackgroundColorStyle($event)"  nzPlaceHolder="请选择">
      <nz-option *ngFor="let item of imgTextBackgroundColorList" style="padding: 0;" nzCustomContent  [nzValue]="item" [nzLabel]="item">
        <span [ngStyle]="{'background': item, 'display': 'inline-block', 'width': '100%'}">{{item}}</span>
      </nz-option>
    </nz-select>
    <span
      [ngStyle]="{'display': 'inline-block', 'height': '30px', 'width': '30px','border-radius': '5px', 'margin-left': '7px', 'background': imgTextBackgroundColor,'border': '1px solid #ccc'}"></span>
  </div>
  </div> -->
</div>
