<button class="my-button" *ngIf="toolItem === 'bold'" (click)='bold()' ><i class="fa fa-bold my-icon" title="加粗"></i></button>
<button class="my-button" *ngIf="toolItem === 'italic'" (click)='italic()' ><i class="fa fa-italic my-icon" title="斜体"></i></button>
<button class="my-button" *ngIf="toolItem === 'slideLine'" (click)='slideLine()' ><i class="fa fa-underline my-icon" title="下划线"></i></button>
<button class="my-button" *ngIf="toolItem === 'link'" (click)='addLink()' ><i class="fa fa-chain my-icon" title="超链接"></i></button>
<button class="my-button" *ngIf="toolItem === 'unlink'" (click)='removeHyperlinks()' ><i class="fa fa-chain-broken my-icon" title="取消超链接"></i></button>
<button class="my-button" *ngIf="toolItem === 'fontColor'"  title='字体颜色'>
  <i (click)="showIsFontColorDiv($event)" class="fa fa-paint-brush my-icon" style="position: relative;" >
    <div  *ngIf="contentEditorToolItemService.isFontColorDiv" style="position: absolute;
    bottom: 23px;
    left: -8px;
    width: 152px;
    background: #fff;
    text-align: left;">
      <button *ngFor="let item of fontColor" [ngStyle]="{'background': item}" style=" display: inline-block;
      height: 15px;
      border: none;
      padding: 0;
      width: 15px;" (click)="setfontColor(item, $event)"></button>
    </div>
  </i>
</button>
<button class="my-button" *ngIf="toolItem === 'backgroundColor'" (click)="showIsBackgroundColorDiv($event)" title='背景颜色'>
  <i class="fa fa-pencil-square my-icon" style="position: relative;" >
    <div *ngIf="contentEditorToolItemService.isBackgroundColorDiv" style="position: absolute;
    bottom: 23px;
    left: -8px;
    width: 152px;
    background: #fff;
    text-align: left;">
      <button *ngFor="let item of fontColor" [ngStyle]="{'background': item}" style=" display: inline-block;
      height: 15px;
      border: none;
      padding: 0;
      width: 15px;" (click)="setBackgroundColor(item, $event)"></button>
    </div>
  </i>
</button>
<button class="my-button" *ngIf="toolItem === 'fontSize'" (click)="showIsFontSizeDiv($event)" title='字号'>
  <i class="fa fa-font my-icon" style="position: relative;" >
    <div *ngIf="contentEditorToolItemService.isFontSizeDiv" style="position: absolute;
    bottom: 23px;
    left: -8px;
    width: 152px;
    background: #fff;
    text-align: center;">
      <p style="font-size: 10px;margin: 10px 0;" (click)="setFontSize('1', $event)">字体大小</p>
      <p style="font-size: 11px;margin: 10px 0;" (click)="setFontSize('2', $event)">字体大小</p>
      <p style="font-size: 12px;margin: 10px 0;" (click)="setFontSize('3', $event)">字体大小</p>
      <p style="font-size: 14px;margin: 10px 0;" (click)="setFontSize('4', $event)">字体大小</p>
      <p style="font-size: 16px;margin: 10px 0;" (click)="setFontSize('5', $event)">字体大小</p>
      <p style="font-size: 24px;margin: 10px 0;" (click)="setFontSize('6', $event)">字体大小</p>
      <p style="font-size: 30px;margin: 10px 0;" (click)="setFontSize('7', $event)">字体大小</p>
    </div>
  </i>
</button>
<button class="my-button" *ngIf="toolItem === 'delete'" (click)='delete()' ><i class="fa fa-trash-o my-icon" title="删除此块"></i></button>
<button class="my-button" *ngIf="toolItem === 'moveUp'" (click)='onMoveUp()' ><i class="fa fa-long-arrow-up my-icon" title="上移"></i></button>
<button class="my-button" *ngIf="toolItem === 'moveDown'" (click)='onMoveDown()' ><i class="fa  fa-long-arrow-down my-icon" title="下移"></i></button>


